body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2F3437;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
}

.main-page {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.main-page-container {
    width: 80%;
    margin: 0 10%;
}

.main-page-h1 {
    color: #EBEBEB;
    margin-top: 5%;
    font-size: 50px;
}

.list-icon {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}